.git/
.idea/
.vscode/
**/src/
**/.mvn/
**/logs/
*.md
*.tar
*.tar.gz
eazybank-docker-images.tar
Microservices.postman_collection.json
**/target/classes/
**/target/generated-sources/
**/target/generated-test-sources/
**/target/maven-archiver/
**/target/maven-status/
**/target/surefire-reports/
**/target/test-classes/
**/target/*-sources.jar
**/target/*-javadoc.jar
**/target/*.original
